/* navbar */

#navbar {
    height: 88px;
}

#navbar .header.item {
    color: forestgreen;
    font-size: 25px;
}

#cm-menu .ui.dropdown.item {
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
}

/* footer */

footer {
    width: 100%;
    height: 10vh;
    color: #1f984d;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}